In [3]:
import pandas as pd
metada_transactions = pd.read_excel("Metadatos_Tabla2.xlsx")
data_transactions = pd.read_csv("dt_trxpse_personas_2016_2018_muestra_adjt.csv", error_bad_lines = False, warn_bad_lines = False, header=None)

In [5]:
metada_transactions

           name          type  comment
0    id_trn_ach        string      NaN
1    id_cliente        bigint      NaN
2         fecha  decimal(8,0)      NaN
3          hora  decimal(6,0)      NaN
4     valor_trx        double      NaN
5          ref1        string      NaN
6          ref2        string      NaN
7          ref3        string      NaN
8        sector   varchar(24)      NaN
9     subsector   varchar(62)      NaN
10  descripcion  varchar(175)      NaN

In [7]:
dict_header = dict()
list_header = list(metada_transactions.name)
for i,element in enumerate(list_header):
    dict_header[i] = element
    
data_transactions = data_transactions.rename(columns = dict_header)

In [58]:
data_transactions["fecha"] = pd.to_datetime(data_transactions["fecha"], format="%Y%m%d", errors = 'ignore')

In [38]:
data_transactions["hora"] = data_transactions["hora"].astype('str')
data_transactions["hora"] = data_transactions["hora"].apply(lambda x : '0'*(6 - len(x)) + x)
data_transactions["hora"] = data_transactions["hora"].apply(lambda x : x[:2] + ":" + x[2:4])

In [71]:
data_transactions = data_transactions.drop(["ref3"], axis = 1)

In [85]:
df_sector = data_transactions.groupby(["sector"])
df_sector.get_group("SERVICIOS FINANCIEROS").ref2.value_counts()

CC                                       141984
BancoomevaPFA                             61201
Pago de obligacion:                       18052
TPNI                                       4460
BancoomevaPTC                              4150
NIT                                        3304
cc                                         1755
CEDULA DE CIUDADANIA                       1462
Natural                                    1035
CE                                         1003
A                                           322
B                                           285
C                                           250
error                                       248
c                                            57
P                                            55
D                                            54
TI                                           53
alberto garcia                               53
a                                            41
Diego M Rodr                                 41
RC                                           40
b                                            38
T APTO                                       37
NUIP                                         33
anibal osorio                                33
torre                                        33
LEON B JUAN E                                32
Gimnasio                                     32
piedad isaza v                               31
                                          ...
luis bermudez v                               1
LUIS GUILLERMO MEJIA CUOTA ANUAL              1
Yenny paola tobar                             1
Yuliana Valencia                              1
Juliana Si                                    1
Alejandro Casta                               1
MARIA ELVIA LINARES                           1
DIANA CRISTINA BEDOY ANTONIA RAMI             1
jenny rojas pago total                        1
Francisco Ramirez                             1
Diego Patino                                  1
Uno                                           1
CLAUDIA HERNANDEZ SEPT                        1
sindy marcela lopez pago estudio              1
sebastian ramir junio                         1
::e:b:adb:b:bb:fdb  CC                        1
eduardo augusto                               1
Gloria Neira                                  1
Mariela Quin                                  1
JuanS ReyesP Mensualidad                      1
LUISA MARGARITA  ESTEBAN PEREZ FRANCE         1
ANDERSON AGUDELO GABRIELA AGU                 1
NANCY RODRGUEZ                                1
JOHN F SUAREZ CR AP SEG                       1
fredy mendoz                                  1
Jorge Ignac                                   1
MiguelMoreno                                  1
Luis Rave                                     1
TPNI  humberto vega ordo√±ez                   1
DioselinaMillan Cuotasept                     1
Name: ref2, Length: 4935, dtype: int64

In [77]:
data_transactions["sector"].unique()

array(['\\N', 'SERVICIOS FINANCIEROS', 'GOBIERNO',
       'MEDIOS DE COMUNICACION', 'RECURSOS NATURALES',
       'SERVICIOS NO FINANCIEROS', 'CONSTRUCCION', 'COMERCIO', nan,
       'PERSONAS', 'MANUFACTURA INSUMOS', 'AGROINDUSTRIA'], dtype=object)